body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}
nav{
    background-color: blue;
    color: white;
    box-shadow: 10px 5px 5px 3px gray;
    
}
ul{
    margin: 0;
    padding: 0;
}
li{
    display: inline-block;
    padding: 15px 25px 15px 25px;
    border-right: 1px solid;
}
h1{
    color: blue;
    margin-left: 150px;
    
}
.contenido{
    margin: 50px;
}
.card{
    width: 220px;
    height: 160px;
    display: inline-block;
    border: 1px blueviolet solid;
    border-radius: 8px;
    box-shadow: 5px 1px 5px 3px #a3a2a2;
    margin: 15px;
    padding: 0;
}
.titulo{
    background-color: blueviolet;
    padding: 8px 15px 8px 15px;
    color: white;
    
}
li:hover{
    border-right: 1px solid white;
    margin-left: 20px;
    color: aqua;
    font-size: x-large;
    transition-duration: .5s;
}
h1:hover{
    color: red;
    transform: scale(1.5);
    transition-duration: 1s;
}
.card:hover{
    transform: scale(1.1);
    transition-duration: 1s;
    background-color: rgba(207, 139, 247,0.658);
    box-shadow: 5px 1px 5px 1px #a3a2a2
;
    
}
@media screen and (max-width: 650px){
    nav{
        width: 40%;
        height: 92vh;
        box-shadow: 10px 3px 9px 2px blueviolet;  
        background-color: rgba(137, 43, 226,0.836);      
    } 
    li{
        display: block;
        

    }
    
}